html{
}

body{
	background-color: #f2f2f2;
}

#contents{
	margin-top: 7em;
}

.navigation-bar{
	z-index: 100;
}

.banner-image{
  overflow: hidden;
	width: 100%;
	height: 43em !important;
	max-height: 43em !important;
}

.top-navbar{
	border: 0px;
	border-radius: 0px;
}

.navbar-main{
	border: 0px;
	border-radius: 0px;
}

.container-all{
	margin: 0 auto;
	margin-top: 0px;
	position: relative;
}
