<div class='col-md-offset-1 col-md-8'>
	<div class='col-md-12 item-details' ng-controller="selectedGame as item">
		<div class="poster col-md-3">
			<a href="#/item"><img class="poster-image" ng-src={{item.product.poster}} /></a>
		</div>
		<div class="item-description col-md-9">
			<h2 class ="product-title">{{item.product.title}}</h2>
			<span ng-repeat='tag in item.product.genre' class='product-tags'><i class='fa fa-tag'></i> {{tag}}</span>
			<br>
			 <rating ng-model="item.product.rating" max="10" readonly="true" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating><span class='product-rating'>{{item.product.rating}}/10</span>
			 <br>
			 <p class='product-description'>{{item.product.description}}</p>
			 <h5><span class='product-attribute'>Developers: </span><span>{{item.product.developer}}</span></h5>
 			 <h5><span class='product-attribute'>Release Date: </span><span>{{item.product.releaseDate}}</span></h5>
			<br>
			<p class="poster-cart product-button" ng-if="item.product.stock>0"><a class="btn btn-success" ng-click="item.addToCart.add(item.product)"><span class="fa fa-shopping-cart fa-lg"></span> Add to cart</a></p>
			<p class="poster-cart product-button" ng-if="!item.product.stock"><a class="btn btn-danger active"></span> Out of Stock</a></p>
			<!--<p class="poster-cart product-button"><a class="btn btn-warning"><span class="fa fa-lg fa-plus"></span> Wishlist</a></p>-->
		</div>
	</div>
	<div ng-controller="recommendedItems as feature">
		<div class="panel panel-default panel-custom"  ng-repeat="group in feature.featuredProducts">
			<div class="panel-heading panel-heading-default">{{group.title}}</div>
			<div class="panel-body">
				<div class="poster col-sm-7 col-md-5 col-lg-3" ng-repeat="item in group.products">
					<h5 class ="poster-title">{{item.title}}</h5>
					<a ng-href="#{{item.url}}"><img class="poster-image" ng-src="{{item.image}}" /></a>
					<p class="poster-cart"><a class="btn btn-success" ng-click="feature.addToCart(item)"><span class="fa fa-shopping-cart fa-lg"></span> Add to cart</a></p>
					<!--
					<p class="poster-cart"><a class="btn btn-warning" ng-class="{'active':item.inWatchlist}" ng-click="feature.wishlist(item)"><span class="fa fa-lg" ng-class="{'fa-plus': !item.inWatchlist,'fa-check':item.inWatchlist}"></span> Wishlist</a></p>-->
				</div>
			</div>
		</div>
	</div>
</div>

<div class="advertisements col-md-2" ng-controller="advertisements as promotions">
	<div class="poster" ng-repeat="add in promotions.adds">
		<h5 class ="poster-title">{{add.title}}</h5>
		<a ng-href="{{add.url}}"><img class="poster-image" ng-src="{{add.image}}" /></a>
	</div>
</div>
